<div class="sign-up container">
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@pet.errors.count, "error") %>.
      </div>
      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= bootstrap_form_for(new_user_pet_path(current_user), html: { multipart: true }) do |f| %>
    <%= f.file_field :image %>
    <%= f.text_field :name %>
    <%= f.text_field :breed %>
    <%= f.text_area :info %>
    <%= f.submit "Register Pet", class: "btn btn-success" %>, <%= link_to "No Pet?", "#", class: "btn btn-warning"%>
    
  <% end %>
</div>
