<div class="sign-up container">
  <%= bootstrap_form_for(@user, html: { multipart: true }) do |f| %>
  <%= f.file_field :image %>
  <%= f.text_field :name %>
  <%= f.text_field :username %>
  <%= f.email_field :email %>
  <%= f.text_field :address, title: "This is needed to get local dog parks near you. We will not reveal this info" %>
  <%= f.text_field :city %>
  <%= f.text_field :state %>
  <%= f.text_field :zip %>
  <%= f.password_field :password, help: "Must be at least 6 characters long" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up" %>
<% end %>
</div>
