<br>
<h2 style="text-align:center; font-family: 'Mitr';">Dog Parks Nearby</h2>
<div id="map">

</div>

  <br>

<div class="container">
  <div class="col-md-12">
    <h2 style="text-align:center; font-family: 'Mitr';">Local Pet Owners Near You!</h2>
  </div>
</div>
<br>
<div class="container-fluid" id="nearbyUsers">
  <div class="nearby-wrapper row">
    <% @nearby.each do |user| %>
      <% if user.pets.count >= 1 %>
          <div id="nearby-user-information" class="nearby">
            <div class="nearby-head">
              <div class="name">
                <%= image_tag user.image.url(:thumb), class: "img-circle img-responsive img-center", id: 'user-pic', style: "height: 47px;" %>
                <%= link_to "#{user.name}", user_path(user) %>
              </div>
            </div>
            <div class="image center-block">
              <%= image_tag user.pets.first.image.url(:medium), class: " img-responsive img-center", id: 'pet-pic' %>
            </div>
            <p class="nearby-caption">
              <i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.distance.round(2) %>m. <%= "#{user.city}, #{user.state}" %>
            </p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
