<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Pawzie Post</h4>
      </div>
      <div class="modal-body">
        <%= render 'post_form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End of post Modal -->
<br>
<aside>

</aside>

<div class="container-fluid" id="pawzie-feed">
  <h2 style="text-align: center;">Neaby Users Pawzie Feed</h2>
  <div class="posts-wrapper row">
    <% @nearby.each do |user| %>
    <% user.posts.order('created_at DESC').each do |post| %>
      <div class="post">
        <div class="post-head">
          <div class="names">
            <%= link_to "#{post.user.name}", user_path(user) %> <br>
            <%= post.pet.name %>
          </div>
        </div>
        <div class="image center-block">
          <%= link_to (image_tag post.image.url(:medium), class: "img-responsive", id: "post-pet-pic"), post_path(post)%>
        </div>
        <%= link_to '', {}, name: "post-comment-form-#{post.id}" %>
        <div class="post-bottom">
          <%= render 'like', post: post %>
          <p class="caption"><%= link_to "#{post.user.name}", user_path(user) %>: <%= post.caption %></p>
          <% post.comments.each do |comment| %>
            <% if post.comments %>
              <div class="comment">
                <div class="name">
                  <%= link_to "#{comment.user.name}", user_path(comment.user) %>
                </div>
                <div class="comment-content">
                  <%= comment.content %>
                  <% if comment.user == current_user %>
                    <%= link_to "Delete", post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" }%>
                  <% end %>
                </div>
              </div>
              <br>
            <% end %>
          <% end %>
          <div class="comment-like-form row">
            <div class="like-form col-md-1">
              <%= link_to like_post_path(post.id), remote: true, id: "like_#{post.id}" do %>
                <%= image_tag("#{liked_by(post, current_user)}pawliked.png", height: '40', width: '40', id: "like_#{post.id}_pic", alt: 'like')%>
              <% end %>
            </div>
            <div class="comment-form">
              <%= form_for([post, post.comments.new], remote: true) do |f| %>
                <%= f.text_field :content, placeholder: "Add a comment...", class: "form-control" %>
                <%= f.submit "Post", class: "btn btn-info", style: "margin-left: 10px;" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#postModal">
      New Post
    </button>
  </div>
</footer>
