<br>
<div class="container">
  <%= bootstrap_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@post.errors.count, "error") %>.
      </div>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.file_field :image %>
    <%= f.text_field :caption %>
    <%= f.collection_select :pet_id, @user.pets, :id, :name, include_blank: true %>

    <%= f.submit "Post", class: "btn btn-warning" %>
  <% end %>
</div>
